html {
    overflow: scroll;
}
body{
    margin:0;
    background: url("../Images/mainBg-01.svg") repeat-y;
    background-size: contain;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
::selection {
    background: #b4d394;
}
.graphic{
    overflow: hidden;
    z-index: initial;
    top:15%;
}
.skillContainer{
    margin-bottom: 400px;
    padding-bottom: 180px;
}
.skill{
    border : #6c757d .025px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skillText{
    margin-left: 10px;
    font-size:14px;
    padding-left: 15%;
    padding-right: 15%;
    padding-right: 15%;
}
p{
    font-family: "Poppins Light", sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}
h1{
    font-family: Yantramanav, sans-serif;
    font-size: 52px;
}
#aboutMe{
    padding-top: 8%;
    padding-bottom: 8%;
}
.aboutMe{
    opacity: 0;
    transition: all 1s ease-out;
    border: 1px solid blue;
}
.aboutMe.fade-in{
    opacity: 1;
}
#footer{
    height: 200px;
    background-color: #252828 ;
    font-family: "Poppins Light", sans-serif;
    color: #FFFFFF;
}
.footerLogo{
    height: 80px;
    width: 80px;
}

.footerText{
    padding-left: 10px;
    padding-right: 0;
}
.headerLogo{
    width: 80px;
    height: 80px;
}
.graphicSection{
    height:768px;
}

.imageHolder{
    padding-top: 15px;
}
.imageHolder img{
    height: 180px;
    width: 200px;
}
@media only screen and (min-width: 320px) and (max-width:576px) {

    .navbar-nav li{
        padding-left: 45px;
        padding-right: 45px;
    }
    .nav-link{
        font-family:"Yantramanav",sans-serif;
        top: 50%;
    }

    p{
        font-size: 12px;
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 764px) {

    .navbar-nav li{
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-link{
        font-family:"Yantramanav",sans-serif;
        top: 50%;
    }
    .navbar{
        background: transparent;
        position: absolute;
    }

    p{
        font-size: 14px;
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 764px) and (max-width: 992px) {


    .navbar-nav li{
        padding-left: 45px;
        padding-right: 45px;
    }

    .nav-link{
        font-family:"Yantramanav",sans-serif;
        top: 50%;
    }

    .navbar{
        background: transparent;
        position: absolute;
    }
    .headerLogo{
        width: 80px;
        height: 80px;
    }

    p{
        font-size: 18px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .skill{
        height: 400px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .navbar-nav li{
        padding-left: 45px;
        padding-right: 45px;]
    }

    .nav-link{
        font-family:"Yantramanav",sans-serif;
        top: 50%;
    }

    .navbar{
        background: transparent;
        position: absolute;
    }

    .headerLogo{
        width: 80px;
        height: 80px;
    }
    p{
        font-size: 18px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .skill{
        height: 400px;
    }
}

@media only screen and (min-width: 1200px){
    .navbar{
        background: transparent;
        position: absolute;
    }

    .headerLogo{
        width: 80px;
        height: 80px;
    }
    .nav-link{
        font-family:"Yantramanav",sans-serif;
        font-size: 18px;
        color: #252828;
    }
    .navbar-nav li{
        padding-left: 60px;
        padding-right: 60px;]
    }

    p{
        font-size: 18px;
        padding-left: 15%;
        padding-right: 15%;
    }
    nav li{
        color: #007bff;
    }

    .skill{
        height: 400px;
    }
}